<div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">Bienvenido @Administrador</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gestionar Usuarios<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/administrador/new">Registrar Usuario</a></li>
              <li><a href="#">Ver usuarios</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Reportes mensuales</a></li>
              <li><a href="/AdminGraficas">Ver gráficas</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gestionar Archivos<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Recomendaciones</a></li>
              <li><a href="#">Tareas</a></li>
            </ul>
          </li>
          </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
          <h2>Editando Usuario </h2>
			<form action="/administrador/update/<%= user.id %>" method="POST" class="form-singin">
			<input value="<%= user.tipo %>" name="tipo" type="text" class="form-control"/>
			<input value="<%= user.nombre %>" name="nombre" type="text" class="form-control"/>
			<input value="<%= user.apellidoP %>" name="apellidoP" type="text" class="form-control"/>
			<input value="<%= user.apellidoM %>" name="apellidoM" type="text" class="form-control"/>
			<input value="<%= user.usuario %>" name="usuario" type="text" class="form-control"/>
			<input type="submit" value="Cambiar" class="btn btn-lg btn-primary btn-block"/>
			<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			</form>
          

        </main>
      </div>
    </div>