<div class="nav-side-menu">
  <div class="brand">Bienvenido @Administrador</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li  data-toggle="collapse" data-target="#GestUsrs" class="collapsed active">
        <a href="#"><i class="fa fa-users" aria-hidden="true"></i>Gestionar Usuarios<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="GestUsrs">
        <li class="active"><a href="/administrador/new">Registrar Usuario</a></li>
        <li><a href="/AdmiUsers">Ver usuarios</a></li>
      </ul>
    </ul>
    <ul id="menu-content" class="menu-content collapse out">
      <li  data-toggle="collapse" data-target="#Reportes" class="collapsed active">
        <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>Reportes<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="Reportes">
        <li><a href="#">Reportes mensuales</a></li>
        <li><a href="/AdminGraficas">Ver gráficas</a></li>
      </ul>
    </ul>
    <ul id="menu-content" class="menu-content collapse out">
      <li  data-toggle="collapse" data-target="#GestArch" class="collapsed active">
        <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Gestionar Archivos<span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="GestArch">
        <li><a href="#">Recomendaciones</a></li>
        <li><a href="#">Tareas</a></li>
      </ul>
    </ul>
  </div>
</div>
<div class="container-fluid contenido">
  <div class="row contenido-usr">
    <h3><b><i class="fa fa-address-card" aria-hidden="true"></i> Detalles Usuario:</b> <%= user.nombre %></h3>
    <p><span><i class="fa fa-hashtag" aria-hidden="true"></i> ID:</span> <%=  user.id %></p>
    <p><span><i class="fa fa-address-card" aria-hidden="true"></i>	Nombre:</span> <%= user.nombre %></p>
    <p><span><i class="fa fa-address-card" aria-hidden="true"></i> Apellido Materno:</span> <%= user.apellidoM %></p>
    <p><span><i class="fa fa-address-card" aria-hidden="true"></i>	Apellido Paterno:</span> <%= user.apellidoP %></p>
    <p><span><i class="fa fa-user-circle" aria-hidden="true"></i>	Tipo Usuario:</span> <%= user.tipo %></p>
	<p><span><i class="fa fa-user-card" aria-hidden="true"></i> Usuario:</span><%= user.usuario %></p>
    <span><a class="btn btn-medum btn-primary" href="/administrador/editar/<%= user.id %>"> Editar</a></span>
    <form action="/administrador/destroy/<%= user.id %>" method="POST">
    <input type="hidden" name="method" value=delete"/>
    <input type="submit" class="btn btn-sm btn-danger" value="Eliminar"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
  </div>
</div>
